
.parent {
   background-color: white;
   border-radius: 15px;
    margin: 20px; 
    position: relative;
    height: 100%;
    min-width: 40%;
    height: 750px;
    overflow: auto; 
}

.sidebar {
    width: 30%; 
    float: left;
    padding: 15px;
    margin:"auto";
    padding:"20px";
    position: relative;
 

}


.map { 
    width: 70%;
    float: right;
    padding: 15px;
}

@media screen and (max-width: 800px) {
    .parent{
      display: block;
    }  
    .sidebar{
      width: 100%;
    }
    .map {
      width: 100%;
      background-color: white;
      margin-bottom: 10px;
      border-radius: 15px;
    }
}